$color_1: #FFF;
$color_2: #DF6951;
$color_3: #181E4B;
$color_4: #1E1D4C;
$color_5: #000;
$color_6: #5E6282;
$color_7: #080809;
$color_8: #84829A;
$color_9: #FFEFEC;
$color_10: #2F2F2F;
$color_11: #7D7D7D;
$color_12: #181433;

$font-family_1: fig tree;
$font-family_2: Volkhov;
$font-family_3: Poppins;
$font-family_4: poppins;
$font-family_5: Manrope;

$background-color_1: #DF6951;
$background-color_2: #F7F7F7;
$background-color_3: #FFF;
$background-color_4: #000;
$background-color_5: #EEF;

