.footerBox {
	display: flex;
	margin: 95px 340px 60px 375px;
}
.footerTravel-Logo+div {
	width: 213px;
	margin-top: -15px;
	margin-left: 30px;
}
.footerEmail {
	display: flex;
	div {
		font-family: $font-family_5;
		font-size: 16px;
		font-style: normal;
		font-weight: 500;
		line-height: 26px;
		letter-spacing: -0.32px;
	}
	&-emailBox {
		width: 240px;
		height: 52px;
		background-color: $background-color_5;
		border: none;
		border-radius: 10px;
		>div {
			margin: 14px 90px 12px 15px;
			text-align: center;
			color: $color_12;
			opacity: 0.2;
		}
	}
	&-emailBox+button {
		width: 149px;
		height: 52px;
		border-radius: 10px;
		margin: auto;
		background-color: $background-color_1;
		color: $color_1;
		text-align: center;
		border: none;
	}
	&+div {
		color: $color_12;
		font-family: $font-family_5;
		font-size: 16px;
		font-style: normal;
		font-weight: 500;
		line-height: 26px;
		letter-spacing: -0.32px;
		opacity: 0.5;
	}
}
.footerTravel {
	margin-right: 76px;
	&+div {
		margin-right: 135px;
	}
	&-socialMedia {
		margin-top: 30px;
		>div {
			display: inline-block;
			margin-right: 16px;
		}
	}
	&-Logo {
		color: $color_3;
		font-family: $font-family_2;
		font-size: 31.622px;
		font-style: normal;
		font-weight: 700;
		line-height: normal;
		text-transform: capitalize;
	}
}
.footerDestination {
	margin-right: 155px;
}
.footerHeads {
	margin-bottom: 24px;
	color: $color_12;
	font-family: $font-family_5;
	font-size: 21px;
	font-style: normal;
	font-weight: 700;
	&~nav{
		a{
			display: block;
			margin-bottom: 12px;
			color: $color_5;
		}
	}
}
.footerLine {
	width: 1200px;
	height: 2px;
	margin-right: 59px;
	background: #E5E5EA;
	margin: auto;
}
.copyrights {
	margin: 40px 0 ;
    text-align: center;
	font-size: 16px;
	font-style: normal;
	font-weight: 500;
	line-height: 26px;
	letter-spacing: -0.32px;
}
